@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body{
  font-family: 'Roboto' sans-serif;
  background: #19202a;
}

#top-section{
  .bluredbg{
    background: url('/69files/top.jpg');
    background-size: cover;
    height: 100vh;
    width:100%;
    filter:blur(50px);
  }
}
